# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = false # so it uses per computer settings for newlines

# Unix-style newlines with a newline ending every file
[*]
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
